@media screen and (min-width: 1000px) {
    
    body {
        background-color: black;
        
    }

    .navigation2 {
        display: none;
    }

    .logo2 {
        display: none;
    }

    .fb {
        height: 60px;
        width: 90px;
        float: right;
    }

    .yt {
        height: 65px;
        width: 70px;
        float: right;
    }

    .mb_fat {
        height: 60px;
        width: 90px;
        float: right;
        margin: 2%;
    }

    .title1 {
        position:absolute;
        top: 20%;
        left: 10px;
        height: 100%;
        width: 99%; 
        background-color: transparent;
        font-size: 600%;
        color: white;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 900;
        
    }

    .title2 {
        position:absolute;
        top: 36%;
        left: 10px;
        height: 100%;
        width: 99%; 
        background-color: transparent;
        font-family: 'Times New Roman', Times, serif;
        font-size: 400%;
        color: white;
        text-align: center;
        font-weight: 900;
    }

    .navbar {
        padding-bottom: 20px;
        padding-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .content{
        position:absolute;
        top: 90%;
        height: auto;
        width: 100%; 
        background-color: white;
        padding-bottom: 10%;
    }


    hr {
        color: white;
        width: 100%;
        height: 5px;
        bottom: 10px;
    }

    .background {
        width:100%;
        max-height:1500px;
        filter: brightness(40%);
    }

    .white {
        background-color: white;
    }

    .navbutton {
        background-color: transparent;
        left: 20px;
    }


    button:hover, a:focus, a:active {
        color: #999;
        text-decoration: none;
    }

    button  {
        position: relative;
        display: block;
        margin: 10px 10px;
        font-weight: 700;
        text-transform: uppercase;
        transition: color 0.1s,background-color 0.1s,padding 0.2s ease-in;
        color: black;
    }
    button::before {
        content: '';
        display: block;
        position: absolute;
        bottom: 5px;
        left: 0;
        height: 3px;
        width: 100%;
        background-color: black;
        transform-origin: right top;
        transform: scale(0, 1);
        transition: color 0.1s,transform 0.2s ease-out;
    }
    button:active::before {
        background-color: black;
    }
    button:hover::before, button:focus::before {
        transform-origin: left top;
        transform: scale(1, 1);
    }

    .disable-selection {
        -webkit-touch-callout: none;
        -webkit-user-select: none; 
        -khtml-user-select: none; 
            -moz-user-select: none; 
            -ms-user-select: none; 
                user-select: none; 
    }

    .footer {
        z-index: 5;
        position: absolute;
        width: 100%;
        top: 165%;
        background-color: whitesmoke;
        height: 20%;
    }

    .foothr {
        height: 4px;
        background: black;
        size: 5%;
        border: 0px;
    }

    .foottxt {
        top: 10px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 150%;
        font-weight: 700;

    }

    .link {
        text-decoration: underline;
        font-weight: 700;
    }

    .sep {
        border-left: 3px solid black;
        height: 25px;
        padding-left: 2%;
        margin-left: 2%;
        margin-top: 2%;
        float: left;
    }

    .head {
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 1%;
    }

    .line {
        height: 2px;
        background: black;
        size: 5%;
        border: 0px;
        margin-left: 20px;
        float: left;
        width: 75%;
        margin-top: 3%;
    }

    .header{
        font-family: 'Times New Roman', Times, serif;
        font-size: 200%;
        font-weight: 800;
        float: left;
        margin-left: 4%;
    }

    .info1 {
        margin-top: 10%;
        margin-left: 10%;
        margin-right: 5%;
        width: 75%;
    }

    .info {
        margin-top: 2%;
        margin-left: 10%;
        margin-right: 5%;
        width: 75%;
    }

    .infotitle {
        font-family: 'Times New Roman', Times, serif;
        font-size: 130%;
    }

    .infotxt {
        margin-top: 1%;
        margin-left: 10%;
        margin-right: 5%;
        width: 60%;
    }

    .endline {
        height: 2px;
        background: black;
        size: 5%;
        border: 0px;
        margin-left: 9%;
        float: left;
        width: 80%;
        margin-top: 5%;
    }
}

@media screen and (max-width: 600px) {

   #menu__toggle {
        opacity: 0;
      }
      #menu__toggle:checked + .menu__btn > span {
        transform: rotate(45deg);
      }
      #menu__toggle:checked + .menu__btn > span::before {
        top: 0;
        transform: rotate(0deg);
      }
      #menu__toggle:checked + .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
      }
      #menu__toggle:checked ~ .menu__box {
        left: 0 !important;
      }
      .menu__btn {
        position: fixed;
        top: 3.5%;
        left: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
      }
      .menu__btn > span,
      .menu__btn > span::before,
      .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: black;
        transition-duration: .25s;
      }
      .menu__btn > span::before {
        content: '';
        top: -8px;
      }
      .menu__btn > span::after {
        content: '';
        top: 8px;
      }
      .menu__box {
        display: block;
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background-color:  rgba(255, 250, 250, 0.9);
        transition-duration: .25s;
      }
      .menu__item {
        display: block;
        padding: 12px 24px;
        color: black;
        font-family: 'Times New Roman', Times, serif;
        font-size: 200%;
        font-weight: 800;
        text-decoration: none;
        transition-duration: .25s;
      }
      .menu__item:hover {
        background-color: black;
        }

    .mb_fat {
        height: 45px;
        width: 60px;
        float: right;
        margin: 2%;
    }

    .bdg{
        background-color: white;
        position: relative;
        width: 100%;
    }

    .fb {
        height: 30px;
        width: 70px;
        float: right;
        position: absolute;
        left: 800%;
        top: 20%;
    }

    .yt {
        height: 35px;
        width: 38px;
        float: right;
        position: absolute;
        left: 1000%;
        top: 15%;
        bottom: 2px;
    }
    
    .logo {
        display: none;  
    }

    .logo2 {
        top: 10px;
        left: 10%;
        z-index: 10;
        position: fixed;
        padding-top: 5px;
        padding-right: 10px;
    }

    .navigation1 {
        display: none;
    }

    .navigation2 {
        position:fixed;
        top: 10px;
        left: 10px;
        height: 10%;
        width: 94%;
        z-index: 5;
    }

    .container {
        display: inline-block;
        cursor: pointer;
      }

    body {
        background-color: white;
        max-width: 50%;
        height: auto;
    }

    .title1 {
        position:absolute;
        top: 6%;
        left: 5px;
        height: 100%;
        width: 99%; 
        background-color: transparent;
        font-size: 270%;
        color: white;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 900;
        
    }

    .title2 {
        position:absolute;
        top: 17%;
        left: 5px;
        height: 100%;
        width: 99%; 
        background-color: transparent;
        font-family: 'Times New Roman', Times, serif;
        font-size: 170%;
        color: white;
        text-align: center;
        font-weight: 900;
    }

    .navbar {
        padding-bottom: 20px;
        padding-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .content{
        position:static;
        height: auto;
        padding-bottom: 40%;
        width: 200%; 
        background-color: white;
    }


    hr {
        color: white;
        width: 100%;
        height: 5px;
        bottom: 10px;
    }

    .background {
        width: 200%;
        filter: brightness(40%);
        background-color: black;
    }

    .white {
        background-color: white;
    }

    .navbutton {
        background: black;
        width: 92%;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 800;
    }


    button:hover, a:focus, a:active {
        color: #999;
        text-decoration: none;
    }

    button  {
        position: relative;
        display: block;
        margin: 10px 10px;
        font-weight: 700;
        text-transform: uppercase;
        transition: color 0.1s,background-color 0.1s,padding 0.2s ease-in;
        color: black;
    }
    button::before {
        content: '';
        display: block;
        position: absolute;
        bottom: 5px;
        left: 0;
        height: 3px;
        width: 100%;
        background-color: black;
        transform-origin: right top;
        transform: scale(0, 1);
        transition: color 0.1s,transform 0.2s ease-out;
    }
    button:active::before {
        background-color: black;
    }
    button:hover::before, button:focus::before {
        transform-origin: left top;
        transform: scale(1, 1);
    }

    .disable-selection {
        -webkit-touch-callout: none;
        -webkit-user-select: none; 
        -khtml-user-select: none; 
            -moz-user-select: none; 
            -ms-user-select: none; 
                user-select: none; 
    }

    .footer {
        position:static;
        height: auto;
        width: 200%; 
        background-color: whitesmoke;
    }

    .foothr {
        height: 4px;
        background: black;
        size: 5%;
        border: 0px;
    }

    .foottxt {
        top: 10px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 80%;
        font-weight: 700;

    }

    .link {
        text-decoration: underline;
        font-weight: 700;
    }

    .sep {
        border-left: 3px solid black;
        height: 25px;
        padding-left: 2%;
        margin-left: 6%;
        margin-top: 2%;
        float: left;
    }

    .head {
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 1%;
    }

    .line {
        height: 2px;
        background: black;
        size: 5%;
        border: 0px;
        margin-left: 20px;
        float: left;
        width: 75%;
        margin-top: 3%;
    }

    .header{
        font-family: 'Times New Roman', Times, serif;
        font-size: 200%;
        font-weight: 800;
        float: left;
        margin-left: 4%;
    }

    .info1 {
        margin-top: 10%;
        margin-left: 10%;
        margin-right: 5%;
        width: 75%;
    }

    .info {
        margin-top: 2%;
        margin-left: 10%;
        margin-right: 5%;
        width: 75%;
    }

    .infotitle {
        font-family: 'Times New Roman', Times, serif;
        font-size: 100%;
    }

    .infotxt {
        margin-top: 1%;
        margin-left: 10%;
        margin-right: 5%;
        width: 60%;
    }

    .endline {
        height: 2px;
        background: black;
        size: 5%;
        border: 0px;
        margin-left: 9%;
        float: left;
        width: 80%;
        margin-top: 5%;
    }

    .bar1 .bar2 .bar3 {
        border-radius: 3px;
    }
}
